@model MidProject.EF.Models.Restaurant
@{
    ViewBag.Title = "ResturantRegistration";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    <h2>Resturant Registration</h2>
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control toggle-password fa fa-eye" id="password" placeholder="Enter password" name="password">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="contact">Contact:</label>
            <input type="text" class="form-control" id="contact" placeholder="Enter contact" name="contact">
            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>